<div class="banner-user" style="background-image: url(<%= image_path 'banner-profile.jpg' %>)">
  <%= image_tag current_user.avatar %>
  <h1><%=current_user.first_name + " " + current_user.last_name%></h1>
</div>

<% counter = 0 %>
<% @bookings.each do |booking| %>
  <% if booking.user_id == current_user.id %>
    <% counter += 1 %>
  <%end%>
<%end%>

<div class="container text-center">
  <% if counter > 0 %>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <h3>My upcoming events booked with a mixologist</h3>
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Address</th>
                <th>Mixologist</th>
                <th># of guest</th>
                <th>Amount invoiced</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.id %></td>
                <td><%= booking.date %></td>
                <td><%= booking.address %></td>
                <td><%= @users.find(booking.offer_id).first_name + " " + @users.find(booking.offer_id).last_name %></td>
                <td><%= booking.guest %></td>
                <td><%= booking.price  %></td>
                <td>
                  <% if booking.accepted.nil? %>
                    <%= "Waiting for answer" %>
                  <%else%>
                    <% if booking.accepted == true %>
                      <%= "Accepted !" %>
                      <% else %>
                    <%= "Declined :(" %>
                      <% end %>
                  <%end%>
                </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <% if current_user.offers == [] %>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <h3>My bookings</h3>
            <p>You are not a mixologist, hence, no bookings dude !</p>
        </div>
      </div>
    </div>
  <% else %>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <h3>My bookings</h3>
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Address</th>
              <th>Client</th>
              <th># of guest</th>
              <th>Amount invoiced</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.id %> </td>
              <td><%= booking.date %></td>
              <td><%= booking.address %></td>
              <td>
                <a href='/users/<%= booking.user_id %>'>
                <%= @users.find(booking.user_id).first_name + " " + @users.find(booking.user_id).last_name %>
                </a>
              </td>
              <td><%= booking.guest %></td>
              <td><%= booking.price %></td>
              <td>
                <% if booking.accepted.nil? %>
                  <%= simple_form_for([booking.offer, booking]) do |event| %>
                    <div class="button-inline">
                    <ul class="list-inline">
                      <li>
                        <%= event.input :accepted, :as => :hidden, :input_html => { :value => true } %>
                        <%= event.submit "Accept", class: "btn btn-primary btn-xs" %>
                      </li>
                      <li>
                        <%= event.input :accepted, :as => :hidden, :input_html => { :value => false } %>
                        <%= event.submit "Decline", class: "btn btn-danger btn-xs" %>
                      </li>
                    </ul>
                    </div>
                  <% end %>
                <%else%>
                <% if booking.accepted == true %>
                  <%= "Accepted !" %>
                  <% else %>
                <%= "Declined :(" %>
                  <% end %>
                <%end%>
              </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%end%>
</div>








