<div class="wrapper">
  <div class="container">

    <div class="home-logo"><%= image_tag "logo_white.png" %></div>
    <br>
    <div class="div-se">
      <%= form_tag("/offers", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search", class: "form_submit btn btn-primary")  %>
      <% end %>
    </div>

  </div>
</div>

<%= render 'layouts/card_offer' %>
