<div class="wrapper">
  <div class="container">
    <%= image_tag "logo_white.png" %><br><br>
    <div class="div-se">
      <%= form_tag("/offers", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search", class: "form_submit btn btn-primary")  %>
      </div>
<% end %>
  </div>
</div>

<%= render 'layouts/card_offer' %>
