<%= render 'layouts/banner_user' %>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="table-responsive">
        <h3>My offers</h3>
        <% if @offers[0] == []%>
        <p>No offer yet ? Click on the link below to add your first offer and become a mixologist !</p>
        <% end %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Title</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>

          <% @offers.each do |f| %>
            <tr>
              <td align="left">
                <%= link_to "Edit", edit_offer_path(f), class: "btn btn-primary btn-sm" %>

                <%= link_to "Delete", offer_path(f), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
              </td>
              <td align="left"><%= f.title.upcase %></td>
              <td align="left"><%= f.city %></td>

              </tr>
            <%end%>
          </tbody>
        </table>



        <!-- ADD AN OFFER BUTTON  -->
        <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
