

<%= @offers.each do |offer| %>
<p><%= offer.title %></p>
<p><%= offer.city %></p>
<p><%= offer.description %></p>
<p><%= offer.base_price %></p>
<p><%= offer.price_20 %></p>
<p><%= offer.price_50 %></p>

<% end %>
