<div class="container-user">
  <div class="user-content">
    <br>


    <div class="container">
      <div class="row">
    <% @offers.each do |f| %>
        <div class="col-xs-12 col-md-4">

      <div class="card">
      <div class="footer">
        <%= cl_image_tag f.user.avatar, height: 30, width: 30, crop: :fill %><%=f.user.first_name.capitalize + " " + f.user.last_name.upcase %>
        <a href='/users/<%= f.user.id %>'><span id="footer-link"></span></a>
      </div>
      <div class="banner1">
      <div class="banner" style="background-image: url('<%= cl_image_path f.photo, height: 300, width: 400, crop: :fill %>')"></div>
      </div>


        <div class="card-info">
          <h3><%=f.title.upcase%></h3>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i><%=f.city%></p>
          <p><br></p>
          <p>
            <!-- DESTROY BUTTON -->
            <% if user_signed_in? && current_user == @user %>
               <%= link_to "Delete", offer_path(f), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </p>
        </div>



        <div class="circle-buy" data-toggle="modal" data-target="#offer_modal_<%= f.id %>"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div id="offer_modal_<%= f.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" class="text-center">
              <div class="modal-header" style="background-image: url(<%= image_path 'banner-profile.jpg' %>)">
                <%= cl_image_tag f.photo, height: 150, width: 150, crop: :fill%>
              </div>
              <div class="class modal-body">
                <h4><%=f.title%></h4>
                <p><%=f.description%></p><br>
                <h4>Price Range</h4>
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <%= image_tag "small_groups.png" %>
                    <p><i>Small Groups (less than 20 people)</i></p>
                    <p><%= f.base_price %> € / guest</p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <%= image_tag "mid_groups.png" %>
                    <p><i>Medium Groups (20-50 people)</i></p>
                    <p><%= f.price_20 %> € / guest</p>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <%= image_tag "large_groups.png" %>
                    <p><i>Large Groups (more than 50 people)</i></p>
                    <p><%= f.price_50 %> € / guest</p>
                  </div>
                </div>
              </div>
              <div class="class modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%=link_to "Book this offer now !", new_offer_booking_path(f.id), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>

        </div>

    <%end%>

      </div>
    </div>

  </div>


  <!-- ADD AN OFFER BUTTON  -->
  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
  <% end %>

</div>
