<div class="container-user">
  <div class="user-content">
    <br>

    <% @offers.each do |f| %>
      <div class="card">
      <div class="footer"><%= image_tag f.user.avatar %><%=f.user.first_name.capitalize + " " + f.user.last_name.upcase%></div>
      <div class="banner1">
      <div class="banner" style="background-image: url('<%= image_path f.photo, height: 300, width: 400, crop: :fill %>')"></div>
      </div>

      <div class="card-info">
      <h3><%=f.title.upcase%></h3>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i><%=f.city%><br><br></p>
        <%f.description%><br>
        <%f.base_price%><br>
        <%f.price_20%><br>
        <%f.price_50%>
      </div>
      <div class="circle-buy"><i class="fa fa-plus" aria-hidden="true"></i></div>

      </div>
    <%end%>

  </div>

  <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
</div>
