<div class="container-user">
  <div class="user-content">
    <br>

    <% @offers.each do |f| %>
      <div class="card">
      <div class="footer"><%= image_tag f.user.picture %><%=f.user.first_name.capitalize + " " + f.user.last_name.upcase%></div>
      <div class="banner1">
      <div class="banner"></div>
      </div>

      <div class="card-info">
      <h3><%=f.title.upcase%></h3>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i><%=f.city%><br><br></p>
        <%f.description%><br>
        <%f.base_price%><br>
        <%f.price_20%><br>
        <%f.price_50%><br>

        <!-- DESTROY BUTTON -->
        <% if user_signed_in? && current_user == @user %>
              <%= link_to "<i class='fa fa-close text-danger'></i>".html_safe, offer_path(f), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>

      </div>
      <div class="circle-buy"><i class="fa fa-plus" aria-hidden="true"></i></div>

      </div>
    <%end%>

  </div>


  <!-- ADD AN OFFER BUTTON  -->
  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
  <% end %>

</div>
