<div class="container-user">
  <div class="user-content">
    <br>

    <% @offers.each do |f| %>
      <div class="card">
      <div class="footer"><%= image_tag f.user.avatar %><%=f.user.first_name.capitalize + " " + f.user.last_name.upcase%></div>
      <div class="banner1">
      <div class="banner" style="background-image: url('<%= image_path f.photo, height: 300, width: 400, crop: :fill %>')"></div>
      </div>


        <div class="card-info">
          <h3><%=f.title.upcase%></h3>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i><%=f.city%></p>
          <p><br></p>
          <p>
            <!-- DESTROY BUTTON -->
            <% if user_signed_in? && current_user == @user %>
               <%= link_to "Delete", offer_path(f), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </p>
        </div>

        <div class="circle-buy" data-toggle="modal" data-target="#offer_modal_<%= f.id %>"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div id="offer_modal_<%= f.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" class="text-center">
              <div class="class modal-body">
                <h4><%=f.title%></h4>
                <p><%=f.description%></p>
              </div>
              <div class="class modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%=link_to "Book this offer now !", new_offer_booking_path(f.id), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>

  </div>


  <!-- ADD AN OFFER BUTTON  -->
  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Add a mixologist offer", new_offer_path, class: "btn btn-primary" %>
  <% end %>

</div>
